@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* creating variables for reuses */

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
}

body{
    font-family: 'Inter', sans-serif;
    color: var(--primary-text-color);
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* creating utility class */

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav{
    background-color: #f1f2f6;
    box-shadow: 0 0 4px rgb(138, 137, 137);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.nav-item.active{
    color: var(--accent-color);
}

.main-nav{
    justify-content: space-between;
    padding-block: 1px;
}

.company-logo img{
    width: 120px;
}

.nav-links ul{
    gap: 17px;
    font-size: 20px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--secondary-text-color);
}

.hover-link:active{
    color: red;
}

.search-bar{
    height: 32px;
    gap: 8px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover{
    background-color: var(--accent-color-dark);
}

/* DESIGNING THE MAIN P[ART OF THE WEBSITE */

main{
    /* margin dena hoga nahi to nav ke piche chale jyga ye item */
    margin-top:150px;
    padding-block: 20px;
}

.cards-container{
    justify-content: space-between;
    /* flex wrap means jo bhi parent ka size hai uske andar sare items wrap ho jynge. */
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}


@media(max-width:790px){

    .cards-container{
        flex-direction: column;
    }

    .card{
        width: 100%;
    }

    .card-header img{
        object-fit: inherit;
        background-position: center;
        background-size: cover;
    }

    .news-input{
        width: 80px;
    }

    .search-button{
        padding: 8px 8px;
    }

    .nav-links ul{
        font-size: 15px;
    }
}